{% extends "layout.html" %}
{% block title %}Page{% endblock %}
{% block body %}

<h1>The biggest words</h1>

<h2>The next biggest words</h2>

<blink>this better be fucking blinking</blink>

<a href="{{ url_for('root') }}">back to home</a>
{% endblock %}
