{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<h1>Still going</h1>
<h3>Too much sauce</h3>
<iframe src="https://giphy.com/embed/anjRJ4nv9WJzO" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/internet-netscape-anjRJ4nv9WJzO">via GIPHY</a></p>
{% for view, args in pages %}
<a href="{{ url_for(view, **args) }}">{{ args['the other page'] }}</a>
{% endfor %}
{% endblock %}
